.header {
  background-color: $white;
}
.header .header__container {
  padding: 25px 0;
  border-bottom: 1px solid #f0f0f0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__container-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__container-item span:nth-child(1) {
  font-family: $Light;
  font-size: 1rem;
  line-height: 20px;
  color: $text;
  margin-right: 5px;
}
.header .header__container-item span:nth-child(2) {
  font-family: $Bold;
  font-size: 1rem;
  line-height: 20px;
  color: $text;
  margin-right: 5px;
}
.header .header__container-item .container__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__container-item .container__block:nth-child(1) a {
  margin-left: 10px;
  font-family: $Black;
  font-size: 1rem;
  line-height: 20px;
  color: $text;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header .header__container-item .container__block:nth-child(1) a:hover {
  color: $green;
}
.header .header__container-item .container__block:nth-child(2) {
  margin-left: 30px;
}
.header .header__container-item .container__block:nth-child(2) span {
  font-family: $Black;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: $green;
  padding-bottom: 3px;
  border-bottom: 2px solid rgba(116,195,97,0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.header .header__container-item .container__block:nth-child(2) span:hover {
  color: $text;
}
.header .header__container2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 9px 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__container2-logo {
  -webkit-flex-basis: 15%;
      -ms-flex-preferred-size: 15%;
          flex-basis: 15%;
}
.header .header__container2-desc {
  font-size: 0.825rem;
  line-height: 18px;
  font-family: $Light;
  color: $text;
  position: relative;
  -webkit-flex-basis: 15%;
      -ms-flex-preferred-size: 15%;
          flex-basis: 15%;
}
.header .header__container2-desc:after {
  content: '';
  position: absolute;
  bottom: 0px;
  background-color: rgba(116,195,97,0.2);
  height: 6px;
  width: 120px;
  left: 0;
}
.header .header__container2-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header .header__container2-menu .menu__item {
  margin-right: 37px;
}
.header .header__container2-menu .menu__item:last-child {
  margin-right: 0;
}
.header .header__container2-menu .menu__item a {
  font-size: 1rem;
  line-height: 20px;
  color: $text;
  font-family: $Bold;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header .header__container2-menu .menu__item a:hover {
  color: $green;
}
