<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title BioFit | Main
		link(rel="stylesheet", href="/css/libs.min.css")
		link(rel="stylesheet", href="/css/style.css")
		link(rel="shortcut icon" type="image/png" href="/images/favicon.png")
		script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
	body
		.render
		include ./blocks/common/header.pug
		include ./blocks/index/top.pug
		include ./blocks/index/how.pug
		include ./blocks/index/diet.pug
		include ./blocks/index/price.pug
		include ./blocks/index/help.pug
		include ./blocks/index/reviews.pug
		include ./blocks/index/faq.pug
		include ./blocks/index/form.pug
		include ./blocks/common/footer.pug
		script(src="/js/libs.min.js")
		script(src="/js/main.js")
