@import "_variables.styl"
@import "_fonts.styl"
@import "_global.styl"

//common
@import "./blocks/common/_header.styl"
@import "./blocks/common/_footer.styl"

// index page
@import "./blocks/index/_top.styl"
@import "./blocks/index/_how.styl"
@import "./blocks/index/_diet.styl"
@import "./blocks/index/_price.styl"
@import "./blocks/index/_help.styl"
@import "./blocks/index/_reviews.styl"
@import "./blocks/index/_faq.styl"
@import "./blocks/index/_form.styl"
