.popupBuy-bg
.popupBuy
	.popupBuy__block
		a(href="/").popupBuy__block-logo
			img(src="/images/small-logo.png")
		.popupBuy__block-close
			<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.580839 0.580833C1.35528 -0.193611 2.6109 -0.193611 3.38535 0.580833L24.4192 21.6147C25.1936 22.3891 25.1936 23.6447 24.4192 24.4192C23.6447 25.1936 22.3891 25.1936 21.6147 24.4192L0.580839 3.38534C-0.193605 2.6109 -0.193605 1.35528 0.580839 0.580833Z" fill="#535353"/><path d="M24.4192 0.580833C25.1936 1.35528 25.1936 2.6109 24.4192 3.38534L3.38534 24.4192C2.6109 25.1936 1.35528 25.1936 0.580833 24.4192C-0.193611 23.6447 -0.193611 22.3891 0.580833 21.6147L21.6147 0.580833C22.3891 -0.193611 23.6447 -0.193611 24.4192 0.580833Z" fill="#535353"/></svg>
	.popupBuy__form
		.popupBuy__form-title
			span Тариф
			span#popupTitle 1 День
		form(action="#").popupBuy__form-form
			input#title(type="hidden" name="title" value="Не выбрано")
			input#target(type="hidden" name="target" value="Не выбрано")
			input#type(type="hidden" name="type" value="Не выбрано")
			input#kcal(type="hidden" name="kcal" value="Не выбрано")
			input#popupPrice(type="hidden" name="price" value="Не выбрано")
			.popupBuy__form-form-input
				input(type="text" name="name" placeholder="Ваше имя" required="required")
			.popupBuy__form-form-input
				input(type="tel" name="phone" placeholder="Ваш телефон" required="required")
			.popupBuy__form-form-policy
				span Отправляя данные, вы соглашаетесь с
					a(target="_blank" href="http://www.biofit24.ru/upload/%D0%9F%D0%9E%D0%9B%D0%98%D0%A2%D0%98%D0%9A%D0%90.pdf") условиями обработки персональных данных
			.popupBuy__form-form-button
				button(type="submit")
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.5289 11.0148H13.5946C13.3799 11.0148 13.1857 11.1362 13.1008 11.323L12.2732 13.1587C12.1873 13.3497 11.9565 13.4474 11.7346 13.3871C8.10309 12.3886 5.31706 9.46358 4.63621 5.93575C4.60401 5.76764 4.71316 5.59189 4.89657 5.51802L7.03484 4.64943C7.23257 4.56877 7.3605 4.38453 7.3605 4.18076V2.34509C7.3605 1.05198 6.252 0 4.88941 0H1.8323C1.13534 0 0.518912 0.456792 0.365923 1.08594C0.123465 2.08274 0 3.12453 0 4.18076C0 5.07991 0.0823103 5.91623 0.251404 6.73472C1.29012 11.9989 5.49242 16.2526 10.958 17.5712C12.1461 17.8557 13.3584 18 14.5618 18C15.2856 18 16.0183 17.9474 16.7412 17.8446C17.4587 17.7427 18 17.1365 18 16.4326V13.3599C18 12.0668 16.8915 11.0148 15.5289 11.0148Z" fill="white"/></svg>
					span Заказать звонок
