.how
	.how-line
		<svg width="1920" height="40" viewBox="0 0 1920 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1920 0H0C0 0 489.103 39.4752 748.138 39.4752C883.782 39.4752 1139.93 28.6505 1383.96 18.338C1605.94 8.95712 1817.9 0 1920 0Z" fill="white"/></svg>
	.how-bg1
		img(src="/images/how-bg1.png")
	.how-bg2
		img(src="/images/how-bg2.png")
	.how-bg3
		img(src="/images/how-bg3.png")
	.how-bg4
		img(src="/images/how-bg4.png")
	.how-bg5
		img(src="/images/how-bg5.png")
	.g-wrapper
		.how__container
			.how__container-title Как это работает?
			.how__container-items
				.how__container-items-item
					.how__img
						img(src="/images/how1.png")
					.how__title
						span 1.
							a(href="#") Выберите рацион
								span для себя на сайте
				.how__container-items-item
					.how__img
						img(src="/images/how2.png")
					.how__title
						span 2. Мы готовим блюда и доставляем к вам
				.how__container-items-item
					.how__img
						img(src="/images/how3.png")
					.how__title
						span 3. Разогрейте блюдо и насладитесь вкусом
				.how__container-items-item
					.how__img
						img(src="/images/how4.png")
					.how__title
						span 4. Убедитесь в качестве и повторите заказ
