.price#SectionPrice
	.g-wrapper
		.price__container
			.price__container-titles
				.price__container-titles-title Цены и тарифы
				.price__container-titles-item
					.price__container-titles-item-container
						span Это легко! Раз, два, три.
						span Закажите и получите.
						img(src="/images/Flexing Muscles Emoji.png")
			.price__container-slider
				.swiper-container.swiper-container-price
					.swiper-wrapper
						.swiper-slide
							.price__container-slider-slide
								.price-content
									.price-content-title 1 день
									.price-content-subtitle Цена за 1 день
									.price-content-price 700
										span руб
									.price-content-subtitle Цена за 1 день со скидкой
									.price-content-saleprice
										span.salePriceOne 665
										span руб
									.price-content-subtitle Общая сумма со скидкой
									.price-content-total
										span.sale 700
										span руб
									.price-content-button
										span Хочу сейчас
								.price-footer
									span Попробуйте сами
									img(src="/images/smile.png")
						.swiper-slide
							.price__container-slider-slide
								.price-content
									.price-content-title 7 дней
									.price-content-subtitle Цена за 1 день
									.price-content-price 700
										span руб
									.price-content-subtitle Цена за 1 день со скидкой
									.price-content-saleprice
										span.salePriceOne 700
										span руб
									.price-content-subtitle Общая сумма со скидкой
									.price-content-total
										span.sale 4900
										span руб
									.price-content-button
										span Хочу сейчас
						.swiper-slide
							.price__container-slider-slide
								.price-content
									.price-content-title 14 дней
									.price-content-subtitle Цена за 1 день
									.price-content-price 700
										span руб
									.price-content-subtitle Цена за 1 день со скидкой
									.price-content-saleprice
										span.salePriceOne 665
										span руб
									.price-content-subtitle Общая сумма со скидкой
									.price-content-total
										span.sale 9310
										span руб
									.price-content-button
										span Хочу сейчас
									.price-content-saletext
										span 5 %
										span скидка
									.price-content-sale
										span.salePrice 980
											div руб
										span экономия
						.swiper-slide
							.price__container-slider-slide
								.price-content
									.price-content-title 28 дней
									.price-content-subtitle Цена за 1 день
									.price-content-price 700
										span руб
									.price-content-subtitle Цена за 1 день со скидкой
									.price-content-saleprice
										span.salePriceOne 630
										span руб
									.price-content-subtitle Общая сумма со скидкой
									.price-content-total
										span.sale 17640
										span руб
									.price-content-button
										span Хочу сейчас
									.price-content-saletext
										span 10 %
										span скидка
									.price-content-sale
										span.salePrice 1960
											div руб
										span экономия
								.price-footer
									span Лучший выбор
									img(src="/images/thumbsup.png")
