.reviews#SectionReviews
	.g-wrapper
		.reviews__container
			.reviews__container-titles
				.reviews__container-titles-title Отзывы
				.reviews__container-titles-item
					.reviews__container-titles-item-container
						span Они уже похудели.
						span Присоединяйся!
						img(src="/images/person-in-lotus-position_1f9d8.png")
			.reviews__container-slider
				.swiper-container.swiper-container-reviews
					.swiper-wrapper
						.swiper-slide
							.reviews__container-slider-slide
								.slide__photos
									.slide__photos-item
										img(src="/images/photo3.jpg")
										span До
									.slide__photos-item
										img(src="/images/photo4.jpg")
										span После
									.slide__photos-info
										span -14 кг
										a(href="#SectionDiet") Хочу так же
								.slide__content
									.slide__content-title Елена
									.slide__content-age 27 лет
									.slide__content-text Питание - это важная часть похудения. После родов я сильно набрала. Записалась на спортивный онлайн-марафон и заказывала Grow Food. Мой результат - 58 кг!) Вы своим питанием помогаете людям быть стройными и красивыми.
						.swiper-slide
							.reviews__container-slider-slide
								.slide__photos
									.slide__photos-item
										img(src="/images/photo5.jpg")
										span До
									.slide__photos-item
										img(src="/images/photo6.jpg")
										span После
									.slide__photos-info
										span -8 кг
										a(href="#SectionDiet") Хочу так же
								.slide__content
									.slide__content-title Евгения
									.slide__content-age 25 лет
									.slide__content-text Рада, что открыла ваш сервис. Так как у меня есть склонность к полноте, мне важно держать себя в норме, заниматься спортом, правильно питаться и ежедневно рассчитывать КБЖУ. А здесь все уже подсчитано и учтено - очень удобно! Теперь можно больше сосредоточиться на тренировках, а не думать что впереди еще часы готовки у плиты.
						.swiper-slide
							.reviews__container-slider-slide
								.slide__photos
									.slide__photos-item
										img(src="/images/photo7.jpg")
										span До
									.slide__photos-item
										img(src="/images/photo8.jpg")
										span После
									.slide__photos-info
										span -15 кг
										a(href="#SectionDiet") Хочу так же
								.slide__content
									.slide__content-title Карина
									.slide__content-age 29 лет
									.slide__content-text Порой после рабочего дня очень сложно найти силы на приготовление ужина, что уж говорить про завтраки и обеды. До поры до времени спасалась доставками фастфуда, а потом обнаружила лишнюю складку на животе.. Расстроилась, и только в тот момент взяла под контроль свое питание. Спасибо вам за Biofit - это настоящая палочка-выручалочка в рабочих буднях!
						.swiper-slide
							.reviews__container-slider-slide
								.slide__photos
									.slide__photos-item
										img(src="/images/photo1.jpg")
										span До
									.slide__photos-item
										img(src="/images/photo2.jpg")
										span После
									.slide__photos-info
										span -13 кг
										a(href="#SectionDiet") Хочу так же
								.slide__content
									.slide__content-title Афанасий
									.slide__content-age 30 лет
									.slide__content-text Я не люблю готовить от слова совсем. Но ежедневные заказы доставок пиццы, роллов и воков уже поднадоели. Biofit закрыл мою потребность ежедневно думать над тем, что бы съесть к ужину. Делаешь покупку раз в неделю и оставшиеся дни голова не болит. Понравилось разнообразное меню и доступная цена. Для сравнения - выходит в 3 раза дешевле, чем питаться на доставках.
