.reviews#SectionReviews
	.g-wrapper
		.reviews__container
			.reviews__container-titles
				.reviews__container-titles-title Отзывы
				.reviews__container-titles-item
					.reviews__container-titles-item-container
						span Они уже похудели.
						span Присоединяйся!
						img(src="/images/person-in-lotus-position_1f9d8.png")
			.reviews__container-slider
				.swiper-container.swiper-container-reviews
					.swiper-wrapper
						.swiper-slide
							.reviews__container-slider-slide
								.slide__photos
									.slide__photos-item
										img(src="/images/photo1.jpg")
										span До
									.slide__photos-item
										img(src="/images/photo2.jpg")
										span После
									.slide__photos-info
										span -32 кг
										a(href="#SectionDiet") Хочу так же
								.slide__content
									.slide__content-title Афанасий
									.slide__content-age 24 года
									.slide__content-text Спасибо вам за вашу работу! Избавился от 32 кг за 6 месяцев, тренировался 3 раза в неделю, рацион заказывал “Баланс”.
						.swiper-slide
							.reviews__container-slider-slide
								.slide__photos
									.slide__photos-item
										img(src="/images/photo3.jpg")
										span До
									.slide__photos-item
										img(src="/images/photo4.jpg")
										span После
									.slide__photos-info
										span -7 кг
										a(href="#SectionDiet") Хочу так же
								.slide__content
									.slide__content-title Елена
									.slide__content-age 27 лет
									.slide__content-text Питание - это важная часть похудения. После родов я сильно набрала. Записалась на спортивный онлайн-марафон и заказывала Grow Food. Мой результат - 58 кг!) Вы своим питанием помогаете людям быть стройными и красивыми.
						.swiper-slide
							.reviews__container-slider-slide
								.slide__photos
									.slide__photos-item
										img(src="/images/photo1.jpg")
										span До
									.slide__photos-item
										img(src="/images/photo2.jpg")
										span После
									.slide__photos-info
										span -32 кг
										a(href="#SectionDiet") Хочу так же
								.slide__content
									.slide__content-title Афанасий
									.slide__content-age 24 года
									.slide__content-text Спасибо вам за вашу работу! Избавился от 32 кг за 6 месяцев, тренировался 3 раза в неделю, рацион заказывал “Баланс”.
