.swiper-container.swiper-container-top#SectionTop
	.swiper-wrapper
		.swiper-slide
			.top
				.top-bg1
				.top-bg2
				.top-backItems
					.top-backItems-item
						img(src="/images/decline1.png")
					.top-backItems-item
						img(src="/images/decline2.png")
					.top-backItems-item
						img(src="/images/decline3.png")
					.top-backItems-text Сни<br>же<br>ние
				.top-bg3
					img(src="/images/top-bg.png")
				.g-wrapper
					.top__container
						.top__container-item
							.top__container-item-title Идем
							.top__container-item-subtitle На снижение!
							.top__container-item-desc с нами легко похудеть<br> быстро и вкусно
							a(href="http://www.biofit24.ru/" target="_blank").top__container-item-button
								span Начать худеть!
							//- .top__container-item__blocks
							//- 	.blocks__item.blocks__item-active
							//- 		.blocks__item-bg
							//- 		.blocks__item-desc -5 кг за мес.
							//- 		.blocks__item-title Похудеть
							//- 		.blocks__item-img
							//- 			img(src="/images/blocks-img1.png")
							//- 	.blocks__item
							//- 		.blocks__item-bg
							//- 		.blocks__item-desc +5 часов в нед.
							//- 		.blocks__item-title Не<br> готовить
							//- 		.blocks__item-img
							//- 			img(src="/images/blocks-img2.png")
							//- 	.blocks__item
							//- 		.blocks__item-bg
							//- 		.blocks__item-desc +Консультация
							//- 		.blocks__item-title -10%<br> скидка
							//- 		.blocks__item-img
							//- 			img(src="/images/blocks-img3.png")
		.swiper-slide
			.top2
				.top2-bg1
				.top2-bg2
				.top2-backItems
					.top2-backItems-item
						img(src="/images/nomilk1.png")
					.top2-backItems-item
						img(src="/images/nomilk2.png")
					.top2-backItems-item
						img(src="/images/nomilk3.png")
				.top2-bg3
					img(src="/images/top2-bg.png")
				.g-wrapper
					.top2__container
						.top2__container-item
							.top2__container-item-title Трать время на себя, а не на готовку​!
							.top2__container-item-subtitle Экономьте до
								span 32
								span часов
							.top2__container-item-desc в месяц на приготовлении еды, покупке продуктов и мытье посуды
							a(href="http://www.biofit24.ru/" target="_blank").top2__container-item-button
								span Попробовать
							//- .top2__container-item__blocks
							//- 	.blocks__item
							//- 		.blocks__item-bg
							//- 		.blocks__item-desc -5 кг за мес.
							//- 		.blocks__item-title Похудеть
							//- 		.blocks__item-img
							//- 			img(src="/images/blocks-img1.png")
							//- 	.blocks__item.blocks__item-active
							//- 		.blocks__item-bg
							//- 		.blocks__item-desc +5 часов в нед.
							//- 		.blocks__item-title Не<br> готовить
							//- 		.blocks__item-img
							//- 			img(src="/images/blocks-img2.png")
							//- 	.blocks__item
							//- 		.blocks__item-bg
							//- 		.blocks__item-desc +Консультация
							//- 		.blocks__item-title -10%<br> скидка
							//- 		.blocks__item-img
							//- 			img(src="/images/blocks-img3.png")
		.swiper-slide
			.top3
				.top3-bg1
				.top3-bg2
				.top3-backItems
					.top3-backItems-item
						img(src="/images/decline1.png")
					.top3-backItems-item
						img(src="/images/decline2.png")
					.top3-backItems-item
						img(src="/images/decline3.png")
				.top3-bg3
					img(src="/images/top3-bg.png")
				.g-wrapper
					.top3__container
						.top3__container-item
							.top3__container-item-title Здоровый рацион на весь день с доставкой на дом от
								span 630 руб
							.top3__container-item-info
								.top3__container-item-info-block
									.top3__container-item-info-block-title 10 %
									.top3__container-item-info-block-desc скидка
								.top3__container-item-info-block
									.top3__container-item-info-block-text На первый заказ всем!
							a(href="http://www.biofit24.ru/" target="_blank").top3__container-item-button
								span Заказать со скидкой
							//- .top3__container-item__blocks
							//- 	.blocks__item
							//- 		.blocks__item-bg
							//- 		.blocks__item-desc -5 кг за мес.
							//- 		.blocks__item-title Похудеть
							//- 		.blocks__item-img
							//- 			img(src="/images/blocks-img1.png")
							//- 	.blocks__item
							//- 		.blocks__item-bg
							//- 		.blocks__item-desc +5 часов в нед.
							//- 		.blocks__item-title Не<br> готовить
							//- 		.blocks__item-img
							//- 			img(src="/images/blocks-img2.png")
							//- 	.blocks__item.blocks__item-active
							//- 		.blocks__item-bg
							//- 		.blocks__item-desc +Консультация
							//- 		.blocks__item-title -10%<br> скидка
							//- 		.blocks__item-img
							//- 			img(src="/images/blocks-img3.png")

