.diet
	padding 90px 0 0 0
	background-color #F8F8F8
	position relative
	z-index 3
	&-line
		position absolute
		bottom -10px
		width 100%
		z-index 4
		left 0
		right 0
	&__container
		&-titles
			display flex
			justify-content space-between
			margin-bottom 50px
			&-title
				font-family $Black
				font-size 2.625rem
				line-height 63px
				color $text
				text-align left
			&-item
				display flex
				align-items center
				&-container
					box-shadow 0px 5px 60px rgba(0, 0, 0, 0.1)
					background-color $white
					position relative
					padding 20px 40px
					display flex
					align-items center
					border-radius 10px 10px 10px 0
					&:before
						content ''
						position absolute
						left -15px
						bottom 0
						border 10px solid transparent
						border-right 10px solid $white
						border-bottom 10px solid $white
					& span
						&:nth-child(1)
							font-family $Regular
							color $text
							line-height 23px
							font-size 1.125rem
							margin-right 3px
						&:nth-child(2)
							font-family $Bold
							color $green
							line-height 23px
							font-size 1.125rem
							margin-right 10px
		&-form
			display flex
			flex-wrap wrap
			&-title
				flex-basis 100%
				font-family $Black
				font-size 0.825rem
				line-height 18px
				color $text
				margin-bottom 15px
			& input
				display none
			.diet__inputs
				display flex
				width 100%
			.diet__input
				margin-bottom 40px
				height 180px
				position relative
				width 33.33334%
				margin-right 20px
				transition .3s
				cursor pointer
				box-shadow 0px 20px 30px rgba(0, 0, 0, 0.1)
				& label
					padding 27px
				&-active.diet__input label
					border-color $white
				&:nth-child(1)
					background-color #A3DE5B
				&:nth-child(2)
					background-color #FDC128
				&:nth-child(3)
					background-color #2ABEFD
				&-bg
					position absolute
					height 100%
					width 100%
					top 0
					left 0
					right 0
					bottom 0
					overflow hidden
					&:after
						position absolute
						content ''
						background linear-gradient(180deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 100%)
						left -20px
						transform skewx(-10deg)
						top 0
						bottom 0
						width 70px
				&-text
					z-index 1
					position relative
					font-size 1.125rem
					color $white
					line-height 22px
					font-family $Light
					flex-basis 75%
				&-title
					z-index 1
					position relative
					font-size 1.875rem
					line-height 36px
					color $white
					text-transform uppercase
					flex-basis 100%
					font-family $Black
					margin-bottom 8px
				&-img
					position absolute
					right 0
					z-index 2
					bottom 0
					& img
						position absolute
						right -13px
						bottom -5px
			& label
				cursor pointer
				display flex
				justify-content space-between
				position absolute
				top 0
				width 100%
				flex-wrap wrap
				align-items center
				height 100%
				border 5px solid transparent
				transition .3s
				padding 7px
				&:hover
					border-color $white
			.diet__types
				display flex
				margin-bottom 10px
				padding-bottom 35px
			.diet__type
				min-width 140px
				height 60px
				margin-right 26.5px
				background-color $white
				border-radius 80px
				border 3px solid transparent
				transition .3s
				position relative
				&:nth-child(12)
					margin-right 0
				& label
					cursor pointer
					flex-direction column
					display flex
					align-items center
					justify-content center
					border none
					position absolute
					top 0
					width 100%
					z-index 2
					text-align center
					font-family $Bold
					font-size 1.125rem
					line-height 20px
					color #313131
					transition .3s
					&:hover
						color $green
				&-active
					background-color $green
					box-shadow 0px 15px 25px rgba(156, 217, 143, 0.4)
					& label
						color $white
					&:hover
						& label
							color $white
				&-hovered
					border-color $white
			.diet__blocks
				flex-basis 100%
				display grid
				grid-template-columns repeat(5, 1fr)
				overflow hidden
				&-block
					align-content flex-start
					display flex
					flex-wrap wrap
					position relative
					&:nth-child(1)
						grid-column 1 / 3
						grid-row 1 / 2
					&:nth-child(2)
						grid-column 1 / 4
						grid-row 2 / 3
					&:nth-child(3)
						grid-column 4 / 6
						grid-row 1 / 3
						align-content flex-end
						.swiper-container
							height 100%
						.swiper-slide
							min-height 557px
							display flex
					&__types
						display flex
						margin-bottom 19px
						flex-basis 100%
					&__type
						width 105px
						height 35px
						margin-right 20px
						background-color $white
						border-radius 80px
						margin-bottom 15px
						transition .3s
						display none
						position relative
						&-active
							display block
						&:nth-child(5)
							margin-right 0
						& label
							cursor pointer
							display flex
							align-items center
							justify-content center
							border none
							padding 6px
							position absolute
							top 0
							width 100%
							& span
								flex-basis 100%
								text-align center
								font-family $Bold
								font-size 0.825rem
								line-height 23px
								color #313131
								transition .3s
						&-hovered
							background-color $green
							box-shadow 0px 15px 25px rgba(156, 217, 143, 0.4)
							& label
								& span
									color $white
						&:hover
							background-color $green
							box-shadow 0px 15px 25px rgba(156, 217, 143, 0.4)
							& label
								& span
									color $white
					&-title
						flex-basis 100%
						font-family $Black
						font-size 0.825rem
						line-height 18px
						color $text
						margin-bottom 15px
					&-text
						flex-basis 100%
						margin-bottom 25px
						& p
							font-family $Regular
							color $text
							font-size 1rem
							line-height 26px
							margin-bottom 15px
							& strong
								margin-left 3px
								font-family $Bold
					&-stats
						margin-bottom 40px
						flex-basis 100%
						display flex
						justify-content flex-start
						&-stat
							flex-basis 25%
							display flex
							align-items center
							&-item
								margin-right 15px
								position relative
								width 52px
								height 52px
								border 2px solid rgba(116, 195, 97, 0.3)
								border-radius 50%
								display flex
								align-items center
								justify-content center
								& span
									font-family $Black
									font-size 0.825rem
									line-height 16px
									color $text
								&:after
									position absolute
									font-family $Black
									font-size 2.375rem
									line-height 40px
									color rgba(116, 195, 97, 0.2)
							&-text
								font-family $Regular
								font-size 0.825rem
								line-height 16px
								color $text
							&:nth-child(1)
								.diet__blocks-block-stats-stat-item
									&:after
										content 'Б'
							&:nth-child(2)
								.diet__blocks-block-stats-stat-item
									&:after
										content 'Ж'
							&:nth-child(3)
								.diet__blocks-block-stats-stat-item
									&:after
										content 'У'
					&-footer
						flex-basis 100%
						display flex
						align-items center
						margin-bottom 54px
						&-button
							flex-basis 45%
							// & button
							// 	font-family $Black
							// 	color $white
							// 	cursor pointer
							// 	padding 15px
							// 	width 100%
							// 	background-color $green
							// 	font-size 1.125rem
							// 	line-height 24px
							// 	border-radius 80px
							// 	border none
							// 	border 1px solid transparent
							// 	transition .3s
							// 	&:hover
							// 		color $green
							// 		background $white
							// 		border-color $green
							& a
								font-family $Black
								color $white
								cursor pointer
								padding 15px
								width 100%
								background-color $green
								font-size 1.125rem
								line-height 24px
								border-radius 80px
								border none
								border 1px solid transparent
								transition .3s
								display block
								text-align center
								&:hover
									color $green
									background $white
									border-color $green
						&-totals
							flex-basis 45%
							display flex
							align-items center
							margin-left 40px
							& span
								font-size 1.25rem
								line-height 25px
								&:nth-child(1)
									font-family $Bold
									color $black
									margin-right 5px
								&:nth-child(2)
									font-family $Regular
									color $black
									margin-right 5px
								&:nth-child(3)
									font-family $Black
									color $green
								&:nth-child(4)
									margin-left 3px
									font-family $Black
									color $green
					&:nth-child(3)
						background linear-gradient(323.59deg, #64BB4F 6.62%, #80DC6A 81.89%)
						border-radius 40px 40px 0 0
						overflow hidden
						margin-left 20px
						.swiper-button-prev,
						.swiper-button-next
							background $white
							width 54px
							height 54px
							display flex
							align-items center
							border 1px solid transparent
							justify-content center
							border-radius 50%
							box-shadow: 0px 15px 25px rgba(156, 217, 143, 0.4);
							transition .3s
							&:hover
								background-color transparent
								border-color $white
							& svg path
								transition .3s
							&:hover svg path
								fill $white
						.swiper-slide-prev
							.diet__blocks-block-img
								& img
									position absolute
									left 60%
									transform rotate(-30deg) translateY(30%) scale(.9)
									transform
									z-index 1
									transition .3s
									opacity 0.5
						.swiper-slide-active
							.diet__blocks-block-img
								& img
									position relative
									transform scale(1)
									z-index 2
									opacity 1
									transition .3s
						.swiper-slide-next
							.diet__blocks-block-img
								& img
									position absolute
									right 60%
									transform rotate(30deg) translateY(30%) scale(.9)
									z-index 1
									transition .3s
									opacity 0.5
						.swiper-button-next,
						.swiper-button-prev
							top 40px
						.swiper-button-prev
							left 20px
						.swiper-button-next
							right 20px
					&-img
						height 100%
						display flex
						align-items center
						justify-content center
						width 100%
						align-self flex-end
						& img
							max-width 80%
					&-bigtitle
						position absolute
						width 100%
						text-align center
						left 0
						top 30px
						font-size 1.5rem
						line-height 32px
						color $white
						font-family $Black
					&-desc
						position absolute
						width 100%
						text-align center
						left 0
						top 70px
						font-size 1rem
						line-height 22px
						color $white
						font-family $Black
@media(max-width:1440px)
	.diet
		&-line
			display none
		&__container
			&-form
				.diet__blocks
					&-block
						&-text
							min-height 212px
@media(max-width:1170px)
	.diet
		&__container
			&-form
				.diet__input
					min-width 350px
				.diet__types
					overflow-x scroll
				.diet__blocks
					&-block
						&-text
							min-height auto
						&-bigtitle
							top 80px
						&-desc
							top 120px
						&:nth-child(1)
							grid-column 1 / 6
							grid-row 1 / 2
						&:nth-child(2)
							grid-column 1 / 6
							grid-row 3 / 4
						&:nth-child(3)
							grid-column 2 / 5
							grid-row 2 / 3
							margin-left 0
							border-radius 40px
							margin-bottom 30px
@media(max-width:991px)
	.diet
		padding-top 50px
		&__container
			&-titles
				justify-content center
				flex-wrap wrap
				margin-bottom 30px
				&-item
					flex-basis calc(100% - 15px)
					margin-left 15px
					display flex
					justify-content center
					align-items center
					&-container
						flex-wrap wrap
						justify-content center
						& span
							&:nth-child(1)
								text-align center
								flex-basis 100%
				&-title
					flex-basis 100%
					margin-bottom 20px
					text-align center
			&-form
				.diet__inputs
					display flex
					overflow-x scroll
@media(max-width:767px)
	.diet
		&__container
			&-form
				.diet__blocks
					&-block
						&-stats
							justify-content center
							&-stat
								margin-right 15px
								&:last-child
									margin-right 0
						&:nth-child(3)
							grid-column 1 / 6
						&-footer
							flex-wrap wrap
							&-totals
								flex-basis 100%
								order 1
								margin-bottom 15px
								margin-left 0
								justify-content center
							&-button
								flex-basis 100%
								order 2
@media(max-width:660px)
	.diet
		&__container
			&-form
				.diet__blocks
					&-block
						&__types
							justify-content flex-start
							flex-wrap wrap
@media(max-width:500px)
	.diet
		&__container
			&-form
				.diet__blocks
					&-block
						&:nth-child(3)
							.swiper-button-next,
							.swiper-button-prev
								top 40px
							.swiper-button-next
								right 20px
							.swiper-button-prev
								left 20px
@media(max-width:414px)
	.diet
		&__container
			&-form
				.diet__blocks
					&-block
						&-stats
							flex-wrap wrap
							justify-content flex-start
							&-stat
								margin-bottom 10px
						&__type
							width 112px
							height 34px
				.diet__input
					min-width 300px
