.help
	padding 90px 0
	background-color #F8F8F8
	position relative
	z-index 3
	&-block
		position absolute
		left 0
		top -117px
		z-index 7
	&-bg
		&:after
			content ''
			position absolute
			width 560px
			height 800px
			transform rotate(-45deg)
			background-color $green
			border-radius 40px
			left -17%
			top -40%
			z-index 4
	&-line
		transform rotate(180deg)
		position absolute
		top -10px
		width 100%
		left 0
		z-index 4
	&-line2
		transform scale(-1, 1)
		position absolute
		bottom -10px
		left 0
		width 100%
		z-index 8
	&__container
		display flex
		justify-content flex-end
		z-index 7
		position relative
		&-block
			flex-basis 63%
			&-title
				font-size 2.625rem
				font-family $Black
				line-height 42px
				color $text
				margin-bottom 30px
			&-text
				font-family $Regular
				color $text
				line-height 24px
				font-size 1rem
				margin-bottom 30px
			&-items
				display flex
				margin-bottom 45px
				&-item
					flex-basis 30%
					display flex
					align-items center
					margin-right 20px
					justify-content space-between
					&:last-child
						margin-right 0
					& svg
						flex-basis 30%
					&-text
						margin-left 15px
						color $text
						font-family $Black
						font-size 0.825rem
						line-height 14px
			&-button
				& a
					background linear-gradient(180deg, #FDC128 0%, #FC7B32 100%)
					border-radius 8px
					display inline-block
					color $white
					font-family $Black
					font-size 1.125rem
					line-height 23px
					padding 25px 50px
					transition .3s
					box-shadow 0px 10px 20px rgba(252, 123, 50, 0.4)
				&:hover a
					color $text


