.how
	padding 80px 0
	position relative
	&-line
		position absolute
		bottom -45px
		width 100%
		z-index 4
		left 0
		right 0
	&-bg1
		position absolute
		top -100px
		right -100px
		z-index 1
	&-bg2
		position absolute
		bottom -100px
		right 0
	&-bg3
		position absolute
		bottom 35%
		left -10px
	&-bg4
		position absolute
		bottom 0%
		left 30px
	&-bg5
		position absolute
		bottom 30%
		left 30px
	&-bg6
		position absolute
		top 27%
		right 5%
	&__container
		z-index 2
		position relative
		&-title
			font-family $Black
			font-size 2.625rem
			line-height 53px
			color $text
			margin-bottom 50px
			text-align center
		&-items
			display flex
			justify-content center
			flex-wrap wrap
			&-item
				flex-basis 33.33334%
				display flex
				align-items center
				justify-content center
				flex-wrap wrap
				.how__title
					margin-bottom 10px
					flex-basis 100%
					text-align center
					& span
						font-family $Regular
						font-size 1rem
						color #535353
						line-height 23px
						& a
							margin-left 3px
							color $green
							border-bottom 1px solid $green
							font-family $Medium
							transition .3s
							&:hover
								color $text
				.how__text
					font-family $Regular
					font-size 1rem
					flex-basis 70%
					color #757575
					text-align center
					line-height 23px
.rotating
	animation rotating 8s linear infinite
	width 166px
	height 166px
@keyframes rotating
	from
		transform rotate(0deg)
	to
		transform rotate(360deg)
.slideUp
	animation slideUp 1.5s linear infinite
@keyframes slideUp
	0%
		transform translateY(0px)
		opacity 1
	50%
		transform translateY(9px)
		opacity 0
	100%
		transform translateY(0px)
		opacity 1
.slideUpReverse
	animation slideUpReverse 1.5s linear infinite
@keyframes slideUpReverse
	0%
		transform translateY(-6px)
		opacity 0
	50%
		transform translateY(0px)
		opacity 1
	100%
		transform translateY(-6px)
		opacity 0
.slideUp
	animation slideUp 1.5s linear infinite
@keyframes slideUp
	0%
		transform translateY(0px)
		opacity 1
	50%
		transform translateY(-6px)
		opacity 0
	100%
		transform translateY(0px)
		opacity 1
.slideUpLeft
	animation slideUpLeft 1.5s linear infinite
@keyframes slideUpLeft
	0%
		transform translateY(0px) translateX(0px)
		opacity 1
	50%
		transform translateY(-3px) translateX(-3px)
		opacity 0
	100%
		transform translateY(0px) translateX(0px)
		opacity 1
.slideUpRight
	animation slideUpRight 1.5s linear infinite
@keyframes slideUpRight
	0%
		transform translateY(0px) translateX(0px)
		opacity 1
	50%
		transform translateY(-3px) translateX(3px)
		opacity 0
	100%
		transform translateY(0px) translateX(0px)
		opacity 1
.route
	animation route 1s linear infinite
@keyframes route
	0%
		transform translateX(0px)
		opacity 0
	100%
		transform translateX(-20px)
		opacity 1

@media(max-width:1440px)
	.how
		&-line
			display none
@media(max-width:1440px)
	.how
		&-line
			display none
@media(max-width:1360px)
	.how
		&-bg1
			right auto
			left -100px
		&-bg3,
		&-bg4,
		&-bg5
			display none
		&-bg6
			position absolute
			top auto
			bottom -50px
			left -30px
@media(max-width:991px)
	.how
		padding 50px 0
		&-bg1
			transform scale(.7)
			top -140px
			left -120px
		&-bg2
			bottom -150px
			right -80px
		&-line
			bottom -43px
		&__container
			&-title
				margin-bottom 30px
			&-items
				justify-content space-between
				&-item
					flex-basis 48%
					&:nth-child(1),
					&:nth-child(2)
						margin-bottom 20px
@media(max-width:767px)
	.how
		&__container
			&-items
				flex-wrap wrap
				&-item
					justify-content center
					flex-basis 100%
					margin-bottom 30px
					.how__img
						flex-basis auto
						margin-right 25px
