.swiper-container-top
	height calc(100% - 168.6px)
	.swiper-slide
		overflow hidden
.top
	height 100%
	background-color #A3DE5B
	position relative
	&-bg1
		height 100%
		position absolute
		transform skewX(-10deg)
		left -150px
		top 0
		background linear-gradient(180deg, #69D03A 0%, rgba(92, 182, 51, 0) 100%)
		width 33%
	&-bg2
		height 100%
		position absolute
		right 72px
		top 0
		z-index 2
		transform skewX(-10deg)
		width 350px
		background linear-gradient(0deg, #69D03A 60%, rgba(92, 182, 51, 0) 100%)
	&-backItems
		transform rotate(-79deg)
		display flex
		position absolute
		top 37%
		z-index 1
		right 200px
		&-item
			flex-basis calc(25% - 15px)
			margin-left 15px
			& img
				width 132px
		&-text
			font-family $Black
			font-size 2.625rem
			color rgba(255, 255, 255, 0.4)
			line-height 42px
			margin-left 15px
			text-transform uppercase
	&-bg3
		height 100%
		position absolute
		right 50px
		top 0
		z-index 9
		& img
			height 100%
	&__container
		display flex
		position relative
		height 100%
		z-index 2
		&-item
			flex-basis 70%
			display flex
			align-items center
			flex-wrap wrap
			align-content center
			&-title
				font-size 2.625rem
				line-height 53px
				color $white
				font-family $Black
				flex-basis 100%
				text-transform uppercase
			&-subtitle
				font-size 4.75rem
				line-height 95px
				color $white
				font-family $Black
				flex-basis 100%
				margin-bottom 5px
				text-transform uppercase
			&-desc
				flex-basis 100%
				font-size 2.25rem
				line-height 40px
				font-family $Black
				color #335010
				position relative
				margin-left 30px
				margin-bottom 45px
				&:before
					content ''
					position absolute
					left -30px
					top calc(50% - 20px)
					transform rotate(10deg)
					width 10px
					height 40px
					background-color #FDC128
			&-button
				flex-basis 100%
				cursor pointer
				// margin-bottom 50px
				& span
					background linear-gradient(180deg, #FDC128 0%, #FC7B32 100%)
					border-radius 8px
					display inline-block
					color $white
					font-family $Black
					font-size 1.125rem
					line-height 23px
					padding 25px 69px
					transition .3s
					&:hover
						color $text
						box-shadow 0px 10px 20px rgba(252, 123, 50, 0.4)
			&__blocks
				flex-basis 100%
				display flex
				.blocks__item
					flex-basis 24%
					padding 13px
					display flex
					justify-content space-between
					position relative
					flex-wrap wrap
					margin-right 20px
					box-shadow 0px 20px 30px rgba(0, 0, 0, 0.1)
					border 5px solid transparent
					&-active
						border 5px solid $white
					&-bg
						position absolute
						height 100%
						width 100%
						top 0
						left 0
						right 0
						bottom 0
						overflow hidden
						&:after
							position absolute
							content ''
							background linear-gradient(180deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 100%)
							left -20px
							transform skewx(-10deg)
							top 0
							bottom 0
							width 70px
					&-desc
						z-index 1
						position relative
						font-size 0.625rem
						color $white
						line-height 10px
						font-family $Regular
						flex-basis 100%
						margin-bottom 18px
						text-transform uppercase
					&-title
						z-index 1
						position relative
						font-size 1rem
						line-height 16px
						text-transform uppercase
						display flex
						align-items flex-end
						color $white
						flex-basis 100%
						font-family $Black
					&-img
						position absolute
						right 0
						z-index 2
						bottom 0
						& img
							position absolute
							right -13px
							bottom -5px
					&:nth-child(1)
						background-color #A3DE5B
					&:nth-child(2)
						background-color #2ABEFD
					&:nth-child(3)
						background-color #F55A38
.top2
	height 100%
	background-color #2ABEFD
	position relative
	&-bg1
		height 100%
		position absolute
		transform skewX(-10deg)
		left -150px
		top 0
		background linear-gradient(180deg, #00A0E4 0%, rgba(42, 190, 253, 0) 100%)
		width 33%
	&-bg2
		height 100%
		position absolute
		right 72px
		top 0
		z-index 2
		transform skewX(-10deg)
		width 315px
		background linear-gradient(0deg, #00A0E4 70%, rgba(42, 190, 253, 0) 100%)
	&-backItems
		transform rotate(-79deg)
		display flex
		position absolute
		top 46%
		z-index 1
		right 230px
		&-item
			flex-basis calc(25% - 15px)
			margin-left 15px
			& img
				width 132px
	&-bg3
		height 100%
		position absolute
		right 22px
		top 0
		z-index 9
		& img
			height 100%
	&__container
		display flex
		position relative
		height 100%
		z-index 2
		&-item
			flex-basis 70%
			display flex
			align-items center
			flex-wrap wrap
			align-content center
			&-title
				font-size 2.625rem
				line-height 53px
				color $white
				font-family $Black
				flex-basis 65%
				margin-bottom 15px
				text-transform uppercase
			&-subtitle
				font-size 2.25rem
				line-height 42px
				color $white
				font-family $Bold
				flex-basis 100%
				margin-bottom 5px
				text-transform uppercase
				& span
					&:nth-child(1)
						font-size 2.825rem
						position relative
						margin-left 5px
						&:after
							content ''
							position absolute
							bottom 5px
							width 100%
							left 0
							z-index -1
							background-color #FDBC29
							height 10px
					&:nth-child(2)
						font-size 2.25rem
						position relative
						margin-left 5px
						&:after
							content ''
							position absolute
							bottom 3px
							width calc(100% + 5px)
							left -5px
							z-index -1
							background-color #FDBC29
							height 10px
			&-desc
				flex-basis 80%
				font-size 1.75rem
				line-height 40px
				font-family $Regular
				color $white
				text-transform lowercase
				margin-bottom 45px
			&-button
				flex-basis 100%
				cursor pointer
				// margin-bottom 50px
				& span
					background linear-gradient(180deg, #FDC128 0%, #FC7B32 100%)
					border-radius 8px
					display inline-block
					color $white
					font-family $Black
					font-size 1.125rem
					line-height 23px
					padding 25px 69px
					transition .3s
					&:hover
						color $text
						box-shadow 0px 10px 20px rgba(252, 123, 50, 0.4)
			&__blocks
				flex-basis 100%
				display flex
				.blocks__item
					flex-basis 24%
					padding 13px
					display flex
					justify-content space-between
					position relative
					flex-wrap wrap
					margin-right 20px
					box-shadow 0px 20px 30px rgba(0, 0, 0, 0.1)
					border 5px solid transparent
					&-active
						border 5px solid $white
					&-bg
						position absolute
						height 100%
						width 100%
						top 0
						left 0
						right 0
						bottom 0
						overflow hidden
						&:after
							position absolute
							content ''
							background linear-gradient(180deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 100%)
							left -20px
							transform skewx(-10deg)
							top 0
							bottom 0
							width 70px
					&-desc
						z-index 1
						position relative
						font-size 0.625rem
						color $white
						line-height 10px
						font-family $Regular
						flex-basis 100%
						margin-bottom 18px
						text-transform uppercase
					&-title
						z-index 1
						position relative
						font-size 1rem
						line-height 16px
						text-transform uppercase
						display flex
						align-items flex-end
						color $white
						flex-basis 100%
						font-family $Black
					&-img
						position absolute
						right 0
						z-index 2
						bottom 0
						& img
							position absolute
							right -13px
							bottom 0
					&:nth-child(1)
						background-color #A3DE5B
					&:nth-child(2)
						background-color #2ABEFD
					&:nth-child(3)
						background-color #F55A38
.top3
	height 100%
	background-color #F55A38
	position relative
	&-bg1
		height 100%
		position absolute
		transform skewX(-10deg)
		left -150px
		top 0
		background linear-gradient(180deg, #BF3314 0%, rgba(245, 90, 56, 0) 100%)
		width 33%
	&-bg2
		height 100%
		position absolute
		right 72px
		top 0
		z-index 2
		transform skewX(-10deg)
		width 315px
		background linear-gradient(0deg, #BF3314 70%, rgba(245, 90, 56, 0) 100%)
	&-backItems
		transform rotate(-79deg)
		display flex
		position absolute
		top 46%
		z-index 1
		right 230px
		&-item
			flex-basis calc(25% - 15px)
			margin-left 15px
			& img
				width 132px
	&-bg3
		height 100%
		position absolute
		right 50px
		top 0
		z-index 9
		& img
			height 100%
	&__container
		display flex
		position relative
		height 100%
		z-index 2
		&-item
			flex-basis 70%
			display flex
			align-items center
			flex-wrap wrap
			align-content center
			&-title
				font-size 2.625rem
				line-height 53px
				color $white
				font-family $Black
				flex-basis 95%
				margin-bottom 30px
				text-transform uppercase
				& span
					color #FDBC29
					margin-left 8px
			&-info
				flex-basis 100%
				display flex
				border-left 10px solid #fdc128
				margin-bottom 30px
				&-block
					&:nth-child(1)
						flex-basis 30%
						padding-left 23px
					&:nth-child(2)
						flex-basis 50%
						display flex
						align-items center
						justify-content center
					&-title
						font-size 4.75rem
						font-family $Black
						color $white
						line-height 76px
						margin-bottom 15px
					&-desc
						font-family $Regular
						color $white
						font-size 1.5rem
						line-height 28px
						text-transform uppercase
					&-text
						font-size 2rem
						line-height 32px
						color $white
						font-family $Regular
			&-button
				flex-basis 100%
				cursor pointer
				// margin-bottom 50px
				& span
					background linear-gradient(180deg, #FDC128 0%, #FC7B32 100%)
					border-radius 8px
					display inline-block
					color $white
					font-family $Black
					font-size 1.125rem
					line-height 23px
					padding 25px 69px
					transition .3s
					&:hover
						color $text
						box-shadow 0px 10px 20px rgba(252, 123, 50, 0.4)
			&__blocks
				flex-basis 100%
				display flex
				.blocks__item
					flex-basis 24%
					padding 13px
					display flex
					justify-content space-between
					position relative
					flex-wrap wrap
					margin-right 20px
					box-shadow 0px 20px 30px rgba(0, 0, 0, 0.1)
					border 5px solid transparent
					&-active
						border 5px solid $white
					&-bg
						position absolute
						height 100%
						width 100%
						top 0
						left 0
						right 0
						bottom 0
						overflow hidden
						&:after
							position absolute
							content ''
							background linear-gradient(180deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 100%)
							left -20px
							transform skewx(-10deg)
							top 0
							bottom 0
							width 70px
					&-desc
						z-index 1
						position relative
						font-size 0.625rem
						color $white
						line-height 10px
						font-family $Regular
						flex-basis 100%
						margin-bottom 18px
						text-transform uppercase
					&-title
						z-index 1
						position relative
						font-size 1rem
						line-height 16px
						text-transform uppercase
						display flex
						align-items flex-end
						color $white
						flex-basis 100%
						font-family $Black
					&-img
						position absolute
						right 0
						z-index 2
						bottom 0
						& img
							position absolute
							right -13px
							bottom 0
					&:nth-child(1)
						background-color #A3DE5B
					&:nth-child(2)
						background-color #2ABEFD
					&:nth-child(3)
						background-color #F55A38
