.swiper-container-top {
  height: -webkit-calc(100% - 168.6px);
  height: calc(100% - 168.6px);
}
.swiper-container-top .swiper-slide {
  overflow: hidden;
}
.top {
  height: 100%;
  background-color: #a3de5b;
  position: relative;
}
.top-bg1 {
  height: 100%;
  position: absolute;
  -webkit-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
          transform: skewX(-10deg);
  left: -150px;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#69d03a), to(rgba(92,182,51,0)));
  background: -webkit-linear-gradient(top, #69d03a 0%, rgba(92,182,51,0) 100%);
  background: -o-linear-gradient(top, #69d03a 0%, rgba(92,182,51,0) 100%);
  background: linear-gradient(180deg, #69d03a 0%, rgba(92,182,51,0) 100%);
  width: 33%;
}
.top-bg2 {
  height: 100%;
  position: absolute;
  right: 72px;
  top: 0;
  z-index: 2;
  -webkit-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
          transform: skewX(-10deg);
  width: 350px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #69d03a), to(rgba(92,182,51,0)));
  background: -webkit-linear-gradient(bottom, #69d03a 60%, rgba(92,182,51,0) 100%);
  background: -o-linear-gradient(bottom, #69d03a 60%, rgba(92,182,51,0) 100%);
  background: linear-gradient(0deg, #69d03a 60%, rgba(92,182,51,0) 100%);
}
.top-backItems {
  -webkit-transform: rotate(-79deg);
      -ms-transform: rotate(-79deg);
          transform: rotate(-79deg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 37%;
  z-index: 1;
  right: 200px;
}
.top-backItems-item {
  -webkit-flex-basis: -webkit-calc(25% - 15px);
      -ms-flex-preferred-size: calc(25% - 15px);
          flex-basis: calc(25% - 15px);
  margin-left: 15px;
}
.top-backItems-item img {
  width: 132px;
}
.top-backItems-text {
  font-family: $Black;
  font-size: 2.625rem;
  color: rgba(255,255,255,0.4);
  line-height: 42px;
  margin-left: 15px;
  text-transform: uppercase;
}
.top-bg3 {
  height: 100%;
  position: absolute;
  right: 50px;
  top: 0;
  z-index: 9;
}
.top-bg3 img {
  height: 100%;
}
.top__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  z-index: 2;
}
.top__container-item {
  -webkit-flex-basis: 70%;
      -ms-flex-preferred-size: 70%;
          flex-basis: 70%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}
.top__container-item-title {
  font-size: 2.625rem;
  line-height: 53px;
  color: $white;
  font-family: $Black;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  text-transform: uppercase;
}
.top__container-item-subtitle {
  font-size: 4.75rem;
  line-height: 95px;
  color: $white;
  font-family: $Black;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.top__container-item-desc {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  font-size: 2.25rem;
  line-height: 40px;
  font-family: $Black;
  color: #335010;
  position: relative;
  margin-left: 30px;
  margin-bottom: 45px;
}
.top__container-item-desc:before {
  content: '';
  position: absolute;
  left: -30px;
  top: -webkit-calc(50% - 20px);
  top: calc(50% - 20px);
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
  width: 10px;
  height: 40px;
  background-color: #fdc128;
}
.top__container-item-button {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  cursor: pointer;
}
.top__container-item-button span {
  background: -webkit-gradient(linear, left top, left bottom, from(#fdc128), to(#fc7b32));
  background: -webkit-linear-gradient(top, #fdc128 0%, #fc7b32 100%);
  background: -o-linear-gradient(top, #fdc128 0%, #fc7b32 100%);
  background: linear-gradient(180deg, #fdc128 0%, #fc7b32 100%);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  display: inline-block;
  color: $white;
  font-family: $Black;
  font-size: 1.125rem;
  line-height: 23px;
  padding: 25px 69px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.top__container-item-button span:hover {
  color: $text;
  -webkit-box-shadow: 0px 10px 20px rgba(252,123,50,0.4);
          box-shadow: 0px 10px 20px rgba(252,123,50,0.4);
}
.top__container-item__blocks {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.top__container-item__blocks .blocks__item {
  -webkit-flex-basis: 24%;
      -ms-flex-preferred-size: 24%;
          flex-basis: 24%;
  padding: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: 20px;
  -webkit-box-shadow: 0px 20px 30px rgba(0,0,0,0.1);
          box-shadow: 0px 20px 30px rgba(0,0,0,0.1);
  border: 5px solid transparent;
}
.top__container-item__blocks .blocks__item-active {
  border: 5px solid $white;
}
.top__container-item__blocks .blocks__item-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.top__container-item__blocks .blocks__item-bg:after {
  position: absolute;
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
  left: -20px;
  -webkit-transform: skewx(-10deg);
      -ms-transform: skewx(-10deg);
          transform: skewx(-10deg);
  top: 0;
  bottom: 0;
  width: 70px;
}
.top__container-item__blocks .blocks__item-desc {
  z-index: 1;
  position: relative;
  font-size: 0.625rem;
  color: $white;
  line-height: 10px;
  font-family: $Regular;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  margin-bottom: 18px;
  text-transform: uppercase;
}
.top__container-item__blocks .blocks__item-title {
  z-index: 1;
  position: relative;
  font-size: 1rem;
  line-height: 16px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: $white;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  font-family: $Black;
}
.top__container-item__blocks .blocks__item-img {
  position: absolute;
  right: 0;
  z-index: 2;
  bottom: 0;
}
.top__container-item__blocks .blocks__item-img img {
  position: absolute;
  right: -13px;
  bottom: -5px;
}
.top__container-item__blocks .blocks__item:nth-child(1) {
  background-color: #a3de5b;
}
.top__container-item__blocks .blocks__item:nth-child(2) {
  background-color: #2abefd;
}
.top__container-item__blocks .blocks__item:nth-child(3) {
  background-color: #f55a38;
}
.top2 {
  height: 100%;
  background-color: #2abefd;
  position: relative;
}
.top2-bg1 {
  height: 100%;
  position: absolute;
  -webkit-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
          transform: skewX(-10deg);
  left: -150px;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#00a0e4), to(rgba(42,190,253,0)));
  background: -webkit-linear-gradient(top, #00a0e4 0%, rgba(42,190,253,0) 100%);
  background: -o-linear-gradient(top, #00a0e4 0%, rgba(42,190,253,0) 100%);
  background: linear-gradient(180deg, #00a0e4 0%, rgba(42,190,253,0) 100%);
  width: 33%;
}
.top2-bg2 {
  height: 100%;
  position: absolute;
  right: 72px;
  top: 0;
  z-index: 2;
  -webkit-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
          transform: skewX(-10deg);
  width: 315px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(70%, #00a0e4), to(rgba(42,190,253,0)));
  background: -webkit-linear-gradient(bottom, #00a0e4 70%, rgba(42,190,253,0) 100%);
  background: -o-linear-gradient(bottom, #00a0e4 70%, rgba(42,190,253,0) 100%);
  background: linear-gradient(0deg, #00a0e4 70%, rgba(42,190,253,0) 100%);
}
.top2-backItems {
  -webkit-transform: rotate(-79deg);
      -ms-transform: rotate(-79deg);
          transform: rotate(-79deg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 46%;
  z-index: 1;
  right: 230px;
}
.top2-backItems-item {
  -webkit-flex-basis: -webkit-calc(25% - 15px);
      -ms-flex-preferred-size: calc(25% - 15px);
          flex-basis: calc(25% - 15px);
  margin-left: 15px;
}
.top2-backItems-item img {
  width: 132px;
}
.top2-bg3 {
  height: 100%;
  position: absolute;
  right: 22px;
  top: 0;
  z-index: 9;
}
.top2-bg3 img {
  height: 100%;
}
.top2__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  z-index: 2;
}
.top2__container-item {
  -webkit-flex-basis: 70%;
      -ms-flex-preferred-size: 70%;
          flex-basis: 70%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}
.top2__container-item-title {
  font-size: 2.625rem;
  line-height: 53px;
  color: $white;
  font-family: $Black;
  -webkit-flex-basis: 65%;
      -ms-flex-preferred-size: 65%;
          flex-basis: 65%;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.top2__container-item-subtitle {
  font-size: 2.25rem;
  line-height: 42px;
  color: $white;
  font-family: $Bold;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.top2__container-item-subtitle span:nth-child(1) {
  font-size: 2.825rem;
  position: relative;
  margin-left: 5px;
}
.top2__container-item-subtitle span:nth-child(1):after {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 100%;
  left: 0;
  z-index: -1;
  background-color: #fdbc29;
  height: 10px;
}
.top2__container-item-subtitle span:nth-child(2) {
  font-size: 2.25rem;
  position: relative;
  margin-left: 5px;
}
.top2__container-item-subtitle span:nth-child(2):after {
  content: '';
  position: absolute;
  bottom: 3px;
  width: -webkit-calc(100% + 5px);
  width: calc(100% + 5px);
  left: -5px;
  z-index: -1;
  background-color: #fdbc29;
  height: 10px;
}
.top2__container-item-desc {
  -webkit-flex-basis: 80%;
      -ms-flex-preferred-size: 80%;
          flex-basis: 80%;
  font-size: 1.75rem;
  line-height: 40px;
  font-family: $Regular;
  color: $white;
  text-transform: lowercase;
  margin-bottom: 45px;
}
.top2__container-item-button {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  cursor: pointer;
}
.top2__container-item-button span {
  background: -webkit-gradient(linear, left top, left bottom, from(#fdc128), to(#fc7b32));
  background: -webkit-linear-gradient(top, #fdc128 0%, #fc7b32 100%);
  background: -o-linear-gradient(top, #fdc128 0%, #fc7b32 100%);
  background: linear-gradient(180deg, #fdc128 0%, #fc7b32 100%);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  display: inline-block;
  color: $white;
  font-family: $Black;
  font-size: 1.125rem;
  line-height: 23px;
  padding: 25px 69px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.top2__container-item-button span:hover {
  color: $text;
  -webkit-box-shadow: 0px 10px 20px rgba(252,123,50,0.4);
          box-shadow: 0px 10px 20px rgba(252,123,50,0.4);
}
.top2__container-item__blocks {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.top2__container-item__blocks .blocks__item {
  -webkit-flex-basis: 24%;
      -ms-flex-preferred-size: 24%;
          flex-basis: 24%;
  padding: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: 20px;
  -webkit-box-shadow: 0px 20px 30px rgba(0,0,0,0.1);
          box-shadow: 0px 20px 30px rgba(0,0,0,0.1);
  border: 5px solid transparent;
}
.top2__container-item__blocks .blocks__item-active {
  border: 5px solid $white;
}
.top2__container-item__blocks .blocks__item-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.top2__container-item__blocks .blocks__item-bg:after {
  position: absolute;
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
  left: -20px;
  -webkit-transform: skewx(-10deg);
      -ms-transform: skewx(-10deg);
          transform: skewx(-10deg);
  top: 0;
  bottom: 0;
  width: 70px;
}
.top2__container-item__blocks .blocks__item-desc {
  z-index: 1;
  position: relative;
  font-size: 0.625rem;
  color: $white;
  line-height: 10px;
  font-family: $Regular;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  margin-bottom: 18px;
  text-transform: uppercase;
}
.top2__container-item__blocks .blocks__item-title {
  z-index: 1;
  position: relative;
  font-size: 1rem;
  line-height: 16px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: $white;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  font-family: $Black;
}
.top2__container-item__blocks .blocks__item-img {
  position: absolute;
  right: 0;
  z-index: 2;
  bottom: 0;
}
.top2__container-item__blocks .blocks__item-img img {
  position: absolute;
  right: -13px;
  bottom: 0;
}
.top2__container-item__blocks .blocks__item:nth-child(1) {
  background-color: #a3de5b;
}
.top2__container-item__blocks .blocks__item:nth-child(2) {
  background-color: #2abefd;
}
.top2__container-item__blocks .blocks__item:nth-child(3) {
  background-color: #f55a38;
}
.top3 {
  height: 100%;
  background-color: #f55a38;
  position: relative;
}
.top3-bg1 {
  height: 100%;
  position: absolute;
  -webkit-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
          transform: skewX(-10deg);
  left: -150px;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#bf3314), to(rgba(245,90,56,0)));
  background: -webkit-linear-gradient(top, #bf3314 0%, rgba(245,90,56,0) 100%);
  background: -o-linear-gradient(top, #bf3314 0%, rgba(245,90,56,0) 100%);
  background: linear-gradient(180deg, #bf3314 0%, rgba(245,90,56,0) 100%);
  width: 33%;
}
.top3-bg2 {
  height: 100%;
  position: absolute;
  right: 72px;
  top: 0;
  z-index: 2;
  -webkit-transform: skewX(-10deg);
      -ms-transform: skewX(-10deg);
          transform: skewX(-10deg);
  width: 315px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(70%, #bf3314), to(rgba(245,90,56,0)));
  background: -webkit-linear-gradient(bottom, #bf3314 70%, rgba(245,90,56,0) 100%);
  background: -o-linear-gradient(bottom, #bf3314 70%, rgba(245,90,56,0) 100%);
  background: linear-gradient(0deg, #bf3314 70%, rgba(245,90,56,0) 100%);
}
.top3-backItems {
  -webkit-transform: rotate(-79deg);
      -ms-transform: rotate(-79deg);
          transform: rotate(-79deg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 46%;
  z-index: 1;
  right: 230px;
}
.top3-backItems-item {
  -webkit-flex-basis: -webkit-calc(25% - 15px);
      -ms-flex-preferred-size: calc(25% - 15px);
          flex-basis: calc(25% - 15px);
  margin-left: 15px;
}
.top3-backItems-item img {
  width: 132px;
}
.top3-bg3 {
  height: 100%;
  position: absolute;
  right: 50px;
  top: 0;
  z-index: 9;
}
.top3-bg3 img {
  height: 100%;
}
.top3__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  z-index: 2;
}
.top3__container-item {
  -webkit-flex-basis: 70%;
      -ms-flex-preferred-size: 70%;
          flex-basis: 70%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}
.top3__container-item-title {
  font-size: 2.625rem;
  line-height: 53px;
  color: $white;
  font-family: $Black;
  -webkit-flex-basis: 95%;
      -ms-flex-preferred-size: 95%;
          flex-basis: 95%;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.top3__container-item-title span {
  color: #fdbc29;
  margin-left: 8px;
}
.top3__container-item-info {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-left: 10px solid #fdc128;
  margin-bottom: 30px;
}
.top3__container-item-info-block:nth-child(1) {
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%;
  padding-left: 23px;
}
.top3__container-item-info-block:nth-child(2) {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.top3__container-item-info-block-title {
  font-size: 4.75rem;
  font-family: $Black;
  color: $white;
  line-height: 76px;
  margin-bottom: 15px;
}
.top3__container-item-info-block-desc {
  font-family: $Regular;
  color: $white;
  font-size: 1.5rem;
  line-height: 28px;
  text-transform: uppercase;
}
.top3__container-item-info-block-text {
  font-size: 2rem;
  line-height: 32px;
  color: $white;
  font-family: $Regular;
}
.top3__container-item-button {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  cursor: pointer;
}
.top3__container-item-button span {
  background: -webkit-gradient(linear, left top, left bottom, from(#fdc128), to(#fc7b32));
  background: -webkit-linear-gradient(top, #fdc128 0%, #fc7b32 100%);
  background: -o-linear-gradient(top, #fdc128 0%, #fc7b32 100%);
  background: linear-gradient(180deg, #fdc128 0%, #fc7b32 100%);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  display: inline-block;
  color: $white;
  font-family: $Black;
  font-size: 1.125rem;
  line-height: 23px;
  padding: 25px 69px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.top3__container-item-button span:hover {
  color: $text;
  -webkit-box-shadow: 0px 10px 20px rgba(252,123,50,0.4);
          box-shadow: 0px 10px 20px rgba(252,123,50,0.4);
}
.top3__container-item__blocks {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.top3__container-item__blocks .blocks__item {
  -webkit-flex-basis: 24%;
      -ms-flex-preferred-size: 24%;
          flex-basis: 24%;
  padding: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: 20px;
  -webkit-box-shadow: 0px 20px 30px rgba(0,0,0,0.1);
          box-shadow: 0px 20px 30px rgba(0,0,0,0.1);
  border: 5px solid transparent;
}
.top3__container-item__blocks .blocks__item-active {
  border: 5px solid $white;
}
.top3__container-item__blocks .blocks__item-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.top3__container-item__blocks .blocks__item-bg:after {
  position: absolute;
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
  left: -20px;
  -webkit-transform: skewx(-10deg);
      -ms-transform: skewx(-10deg);
          transform: skewx(-10deg);
  top: 0;
  bottom: 0;
  width: 70px;
}
.top3__container-item__blocks .blocks__item-desc {
  z-index: 1;
  position: relative;
  font-size: 0.625rem;
  color: $white;
  line-height: 10px;
  font-family: $Regular;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  margin-bottom: 18px;
  text-transform: uppercase;
}
.top3__container-item__blocks .blocks__item-title {
  z-index: 1;
  position: relative;
  font-size: 1rem;
  line-height: 16px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: $white;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  font-family: $Black;
}
.top3__container-item__blocks .blocks__item-img {
  position: absolute;
  right: 0;
  z-index: 2;
  bottom: 0;
}
.top3__container-item__blocks .blocks__item-img img {
  position: absolute;
  right: -13px;
  bottom: 0;
}
.top3__container-item__blocks .blocks__item:nth-child(1) {
  background-color: #a3de5b;
}
.top3__container-item__blocks .blocks__item:nth-child(2) {
  background-color: #2abefd;
}
.top3__container-item__blocks .blocks__item:nth-child(3) {
  background-color: #f55a38;
}
@media (max-width: 991px) {
  .top-bg2 {
    right: -25%;
    top: 75%;
  }
  .top-bg3 {
    right: -20%;
    top: 27%;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }
  .top-backItems {
    display: none;
  }
  .top__container {
    z-index: 10;
  }
  .top__container-item {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .top2-bg2 {
    right: -25%;
    top: 75%;
  }
  .top2-bg3 {
    right: -20%;
    top: 27%;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }
  .top2-backItems {
    display: none;
  }
  .top2__container {
    z-index: 10;
  }
  .top2__container-item {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .top3-bg2 {
    right: -25%;
    top: 75%;
  }
  .top3-bg3 {
    right: -20%;
    top: 27%;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }
  .top3-backItems {
    display: none;
  }
  .top3__container {
    z-index: 10;
  }
  .top3__container-item {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .top3__container-item-info {
    border-left: none;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .top3__container-item-info-block:nth-child(1),
  .top3__container-item-info-block:nth-child(2) {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .top3__container-item-info-block:nth-child(1) {
    padding-left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
            align-content: flex-end;
    margin-bottom: 15px;
  }
  .top3__container-item-info-block:nth-child(2) {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .top3__container-item-info-block-title {
    margin-bottom: 0;
    line-height: 54px;
  }
  .top3__container-item-info-block-desc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 54px;
    margin-left: 10px;
    -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
            align-content: flex-end;
  }
}
@media (max-width: 900px) {
  .swiper-container-top {
    margin-top: 60px;
  }
}
@media (max-width: 414px) {
  .top-bg3 {
    right: -34%;
    top: 32%;
    -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
            transform: scale(0.4);
  }
  .top__container-item {
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    padding-top: 50px;
  }
  .top__container-item-title {
    text-align: center;
    font-size: 1.625rem;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .top__container-item-subtitle {
    font-size: 2.5rem;
    line-height: 40px;
    text-align: center;
    margin-bottom: 15px;
  }
  .top__container-item-desc {
    margin-left: 0;
    text-align: center;
    margin-bottom: 28px;
  }
  .top__container-item-desc:before {
    top: -10px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    width: 40px;
    height: 10px;
    left: -webkit-calc(50% - 20px);
    left: calc(50% - 20px);
  }
  .top__container-item-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top__container-item-button span {
    margin: 0 auto;
    padding: 13px 35px;
    text-align: center;
  }
  .top2-bg3 {
    right: -34%;
    top: 32%;
    -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
            transform: scale(0.4);
  }
  .top2__container-item {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top2__container-item-title {
    text-align: center;
    font-size: 1.625rem;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .top2__container-item-subtitle {
    font-size: 2.5rem;
    line-height: 40px;
    text-align: center;
    margin-bottom: 15px;
  }
  .top2__container-item-desc {
    margin-left: 0;
    text-align: center;
    margin-bottom: 28px;
  }
  .top2__container-item-desc:before {
    top: -10px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    width: 40px;
    height: 10px;
    left: -webkit-calc(50% - 20px);
    left: calc(50% - 20px);
  }
  .top2__container-item-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top2__container-item-button span {
    margin: 0 auto;
    padding: 13px 35px;
    text-align: center;
  }
  .top3-bg3 {
    right: -34%;
    top: 32%;
    -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
            transform: scale(0.4);
  }
  .top3__container-item {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top3__container-item-title {
    text-align: center;
    font-size: 1.625rem;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .top3__container-item-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top3__container-item-button span {
    margin: 0 auto;
    padding: 13px 35px;
    text-align: center;
  }
  .top3__container-item-info-block:nth-child(1) {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top3__container-item-info-block:nth-child(2) {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
