.footer
	padding 37px 0 70px
	&__container
		display flex
		justify-content space-between
		margin-bottom 10px
		align-items center
		&-social
			display flex
			&-item
				display flex
				align-items center
				justify-content center
				border-radius 50%
				width 52px
				height 52px
				border 2px solid rgba(255, 255, 255, 0.2)
				margin-left 15px
				transition .3s
				& svg
					width 24px
					height 24px
				& svg path
					transition .3s
				&:hover svg path
					fill $green
				&:hover
					border-color $green
	&__container2
		display flex
		justify-content space-between
		align-items flex-end
		&-copyright
			& span
				font-family $Regular
				font-size 0.75rem
				line-height 18px
				color rgba(255,255,255,0.6)
				& a
					margin-left 3px
					font-family $Bold
					border-bottom 1px solid $white
					transition .3s
					color $white
					&:hover
						border-color $green
						color $green
		&-policy
			& p
				font-family $Regular
				color rgba(255, 255, 255, 0.6)
				font-size 0.75rem
				line-height 18px
				margin-bottom 5px
			& a
				font-family $Regular
				color rgba(255, 255, 255, 0.6)
				font-size 0.75rem
				line-height 18px
				border-bottom 1px solid rgba(255, 255, 255, 0.6)
				transition .3s
				&:hover
					border-color $green
					color $green
@media(max-width: 500px)
	.footer
		padding 30px 0
		&__container
			margin-bottom 20px
			&-logo
				& img
					width 100%
			&-social
				&-item
					width 34px
					height 34px
					& svg
						width 17px
						height 17px
		&__container2
			flex-wrap wrap
			&-policy
				flex-basis 100%
				margin-bottom 20px
				display flex
				justify-content center
				flex-wrap wrap
			&-copyright
				flex-basis 100%
				display flex
				justify-content center
